@model List<Usuario>
@{
    ViewData["Title"] = "Administrador de usuarios";
}
@{
    var listUsuarios = (List<Usuario>)ViewData["Usuarios"];
    var listRoles = (List<Rol>)ViewData["Roles"];
    var listOperaciones = (List<Operacion>)ViewData["Operaciones"];
    var listRolOperaciones = (List<RolOperacion>)ViewData["RolOperaciones"];
}
<h1>Administrador de usuarios</h1>
<div class="container">
    <a href="@Url.Action("Registrarse","Usuario")" class="btn btn-primary">Crear Usuario para Doctor</a>
    <br />
    <br />
</div>
<h3>Usuarios</h3>
<div class="container">
    <div class="col-lg-10 mb-9 mb-lg-0 position-relative">
        <div class="row">
            @if (Model.Count() > 0)
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Correo</th>
                            <th>Nombre del Rol</th>
                            <th>Operaciones permitidas</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Correo</td>
                                <td>@listRoles.FirstOrDefault(m => m.idRol == item.idRol)?.NombreRol</td>
                                <td>
                                    @{
                                        var operacionesRol = listRolOperaciones
                                        .Where(ro => ro.idRol == item.idRol)
                                        .Select(ro => listOperaciones.FirstOrDefault(op => op.idOperacion == ro.idOperacion)?.NombreOperacion);
                                    }
                                    @string.Join(", ", operacionesRol)
                                </td>
                                <td>
                                    <a asp-controller="Usuario" asp-action="EditarUsuario" asp-route-idUsuario="@item.idUsuario" class="btn btn-primary">Editar Usuario</a>
                                    <a asp-controller="Usuario" asp-action="Eliminar" asp-route-id="@item.idUsuario" class="btn btn-primary">Eliminar Usuario</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>              
            }
            else
            {
                <p>No existen usuarios registrados.</p>
            }
        </div>
    </div>
</div>
