@model Factura
@{
    ViewData ["Title"] = "Facturacion";
    <!--Layout = "~/Views/Shared/_Layout.cshtml";-->
}

@{
    //string nombre = string.Empty, cedula = string.Empty;
}
<head>
    <title>Factura</title>
</head>
<body>
    <div class="container mt-5">
        <table class="table">
            <tr>
                <td rowspan="3" style="width: 150px;"><img src="~/img/clinica.png" alt="Logo" width="100"></td>
                <td class="text-right">Email: empresa@example.com</td>
                <td class="text-left">Dirección: Calle Principal, Ciudad</td>
            </tr>
            <tr>
                <td class="text-right">Teléfono: (123) 456-7890</td>
                <td class="text-left"></td>
            </tr>
            <tr>
                <td class="text-right">Sitio web: www.empresa.com</td>
                <td class="text-left"></td>
            </tr>
        </table>

        <!-- Formulario para búsqueda por cédula -->
        <!--<form action="@Url.Action("BuscarCed", "Facturas")" method="post" class="mt-4">
            <div class="input-group">
                <input readonly id="cedula" type="text" class="form-control" name="cedula" placeholder="Ingrese el número de cédula">
            </div>
        </form>-->

        <!-- Mostrar los resultados -->
        @*
        @if (ViewBag.Pacientes != null)
        {
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>ID Paciente</th>
                        <th>Nombre</th>
                        <th>Cédula</th>
                        <!-- Otros campos -->
                    </tr>
                </thead>
                <tbody>
                    @foreach (var paciente in ViewBag.Pacientes)
                    {
                        <tr>
                            <td>@paciente.idPaciente</td>
                            <td><input type="hidden" value="@paciente.idPaciente" name="idPäciente"></td>

                            <td>@paciente.Nombre</td>
                            <td>@paciente.Cedula</td>
                            <!-- Otros campos -->
                            @{
                                nombre = paciente.Nombre;
                                cedula = paciente.Cedula;
                            }
                            <!-- Almaceno en variables para despues poner esos valores donde yo quiera -->
                        </tr>
                    }
                </tbody>
            </table>
        }
        *@
        <!-- Resto del contenido -->
        <form action="Guardar" method="post">
        <div class="row mt-4">
            <!-- Detalle de Cliente -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4><b>Detalle de Cliente</b></h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><b>Fecha de Emisión:</b> @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")</p>
                        <input type="hidden" name="fecha" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")">

                        <div class="form-group">
                            <label for="tipoServicio"><b>Tipo de servicio:</b></label>
                            <select class="form-control" id="tipoServicio" name="tipoServicio">
                                <option value="servicio1">Servicio 1</option>
                                <option value="servicio2">Servicio 2</option>
                                <!-- Otras opciones -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="cliente"><b>Cliente:</b></label>
                            <input readonly type="text" id="paciente" value="paciente" class="form-control" name="cliente" placeholder="Nombre del cliente">
                        </div>

                        <div class="form-group">
                            <label for="identificacion"><b>Identificación:</b></label>
                            <input readonly type="text" id="cedula" value="cedula"class="form-control" name="identificacion" placeholder="Número de identificación">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Detalle de Factura -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4><b>Detalle de Factura</b></h4>
                    </div>
                    <div class="card-body">
                        <!-- Estado de Pago -->
                        <div class="form-group">
                            <label><b>Estado de Pago</b></label>
                            <select class="form-control" id="estadoPago" name="EstadoPago" onchange="handleEstadoPago()">
                                <option value="pendiente">Pendiente</option>
                                <option value="pagado">Pagado</option>
                            </select>
                        </div>

                        <!-- Medios de Pago -->
                        <div class="form-group">
                            <h4><b>Medios de Pago</b></h4>
                            <h5>Efectivo</h5>
                            <h5>Total + IVA</h5>
                        </div>
                        <div class="form-group">
                            <input readonly type="text" id="precio" class="form-control" placeholder="Ingrese el valor" onkeypress="handleKeyPress(event)">
                            <input type="text" name="MontoTotal" id="resultadoParrafo">
                        </div>
                        <!-- Botón para Imprimir Factura -->
                        <div class="text-right mt-4">
                            <input type="submit" value="Imprimir Factura" class="btn btn-primary">
                        </div>

                        @*son textos para enviar los datos extra de factura*@
                        <div class="text-right mt-4">
                            <input hidden type="text" id="idpac" name="idPaciente">
                        </div>
                        <div class="text-right mt-4">
                            <input hidden type="text" id="idcit" name="idCita">
                        </div>
                        <div class="text-right mt-4">
                            <input hidden type="text" id="idConsul" name="idConsultorio">
                         </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
        <script>
            function handleKeyPress(event) {
                if (event.keyCode === 13) {
                    var cuadro = document.getElementById("precio");
                    var valor = parseFloat(cuadro.value);

                    if (!isNaN(valor)) {
                        var resultado = valor * 0.12;
                        valor = valor + resultado;
                        var parrafo = document.getElementById("resultadoParrafo");
                        parrafo.value = parseFloat(valor).toLocaleString("es-ES", { maximumFractionDigits: 2 });;
                        cuadro.disabled = true;
                        // Prevenir el comportamiento predeterminado del Enter
                        event.preventDefault();
                    }
                }
            }
            function handleEstadoPago() {
                var estadoPago = document.getElementById("estadoPago");
                var cuadro = document.getElementById("precio");
                var parrafo = document.getElementById("resultadoParrafo");

                if (estadoPago.value === "pagado") {
                    cuadro.disabled = false;
                    parrafo.textContent = "";
                } else {
                    cuadro.disabled = true;
                    cuadro.value = "";
                    parrafo.textContent = "";
                }
            }
            // Obtener el valores desde la URL
            var cedulaValue = new URLSearchParams(window.location.search).get('cedula');
            var nombreValue = new URLSearchParams(window.location.search).get('paciente');
            var idpValue = new URLSearchParams(window.location.search).get('idpac');
            var idcValue = new URLSearchParams(window.location.search).get('idcit');
            var idcoValue = new URLSearchParams(window.location.search).get('idConsul');
            var precioValue = new URLSearchParams(window.location.search).get('precio');
            // Asignar el valor de cedula al campo de entrada de texto
            document.getElementById('cedula').value = cedulaValue;
            document.getElementById('paciente').value = nombreValue;
            document.getElementById('idpac').value =idpValue;
            document.getElementById('idcit').value = idcValue;
            document.getElementById('idConsul').value = idcoValue;
            document.getElementById('precio').value = precioValue;
        </script>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

