    @{
    ViewData["Title"] = "Bienvenido Paciente";
    Layout = null;
}
@model Paciente
@{
    var listaCitas = (List<Cita>)ViewData["citas"];
    var listaPacientes = (List<Paciente>)ViewData["pacientes"];
    var listaMedicos = (List<Medico>)ViewData["medicos"];
    var listaEspecialidades = (List<Especialidad>)ViewData["especialidades"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/Style.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('../img/family3.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            font-family: Arial, sans-serif;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .mensaje {
            position: absolute;
            top: 20px;
            left: 20px;
            color: white;
            font-size: 24px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        .botones {
            display: flex;
            gap: 20px;
            margin-top: 20px;
        }

        .boton {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }

            .boton:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <div class="mensaje">
        <h1 class="title">Bienvenido Paciente</h1>
    </div>

    <form action="@Url.Action("BuscarCedulaPaciente", "Paciente")" method="post" class="mt-4">
        <div class="input-group" style="display: flex; justify-content: space-between; align-items: center; margin-left: 5px;">
            <input type="text" class="form-control large-placeholder" name="cedula" placeholder="Ingresa tu No. de c&eacute;dula">
            <button class="button-36" type="submit" role="button">
                Buscar Citas
                <img src="~/img/lupa2.png" class="emoticon">
            </button>
        </div>
    </form>


   @if (listaCitas != null)
   {
        @if (listaCitas.Any())
        {
            <table class="table mt-4 custom-table">
                <thead>
                    <tr>
                        <th>Nombre Paciente</th>
                        <th>Fecha / Hora</th>
                        <th>Nombre M&eacute;dico</th>
                        <th>Especialidad</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cita in listaCitas)
                    {
                        <tr>
                            <td>@listaPacientes.FirstOrDefault(p => p.idPaciente == cita.idPaciente)?.Nombre</td>
                            <td>@cita.Fecha</td>
                            <td>
                                Dr. @(listaMedicos.FirstOrDefault(m => m.idMedico == cita.idMedico)?.Nombre + " " + listaMedicos.FirstOrDefault(m => m.idMedico == cita.idMedico)?.Apellido)
                            </td>
                            <td>@listaEspecialidades.FirstOrDefault(e => e.idEspecialidad == listaMedicos.FirstOrDefault(m => m.idMedico == cita.idMedico)?.idEspecialidad)?.Descripcion</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="alert-box">
                <img src="~/img/alert.png" class="alert-icon">
                <h2 class="alert-text">No olvides acudir 15 minutos antes de tu cita.</h2>
            </div>
        }

        // para cuando no hay nada de citas
        else if(!listaCitas.Any())
        {
            <div class="alert-box">
                <img src="~/img/activo.png" class="alert-icon">
                <h2 class="alert-text"> Verifica la c&eacute;dula ingresada o paciente sin citas registradas </h2>
            </div>

        }
   }


    <div>
        <a href="@Url.Action("Index", "Home")" role="button" class="button-36" style="height: 65px; line-height: 65px;">Volver</a>
    </div>

</body>
</html>
