@model List<Cita>

    <h2>Lista de Citas</h2>

    @{
    var pacientes = (List<Paciente>) ViewData["pacientes"];
    var medicos = (List<Medico>)ViewData["medicos"];
    }

    @if (Model.Count == 0)
{
    <p>No se encontraron citas para este paciente.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td>Paciente</td>
                <td>Fecha</td>
                <td>Medico</td>
                <td>Nombre</td>
                @*<th>Prueba</th>*@
                @*<td>Nombre</td>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var cita in Model)
            {
            <tr>
                
@*                <td>@pacientes.Nombre</td>
*@                <td>@pacientes.FirstOrDefault(m => m.idPaciente == cita.idPaciente)?.Nombre</td>
@*                <td>@cita.Pacientes.Nombre</td>*@                
                  <td>@cita.Fecha</td>
                  <td>@cita.idMedico</td>
                  <td>@medicos.FirstOrDefault(m => m.idMedico == cita.idMedico)?.Nombre</td>

            </tr>
            }
            
        </tbody>
    </table>
}

    <a asp-action="Bienvenida" asp-controller="Paciente" class="btn btn-primary">Volver</a>



