@model Cita

<h2>Detalles de la Cita</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <td>@Model.idCita</td>
    </tr>
    <tr>
        <th>Fecha</th>
        <td>@Model.Fecha.ToShortDateString()</td>
    </tr>
    <tr>
        <th>Paciente</th>
        <td>@Model.Pacientes?.Nombre</td>
    </tr>
</table>

<h3>Detalles del Paciente</h3>
<table class="table">
    <tr>
        <th>Nombre</th>
        <td>@Model.Pacientes?.Nombre</td>
    </tr>
    <tr>
        <th>Edad</th>
        <td>@Model.Pacientes?.Edad</td>
    </tr>
    <tr>
        <th>Historia Clínica</th>
        <td>@Model.Pacientes?.HistoriaClinica</td>
    </tr>
</table>

<h3>Historias Clínicas</h3>
<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var registro in Model.Pacientes?.RegistrosMedicos)
        {
            <tr>
                <td>@registro.Fecha.ToShortDateString()</td>
                <td>@registro.Descripcion</td>
            </tr>
        }
    </tbody>
</table>

<a href="/Medico/Login">Volver</a>
