
@model List<Cita>

<h2>Listado de Citas</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fecha</th>
            <th>Medico</th>
            <th>Paciente</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cita in Model)
        {
            <tr class="cita-row" data-id-cita="@cita.idCita">
                <td>@cita.idCita</td>
                <td>@cita.Fecha.ToShortDateString()</td>
                <td>@cita.Medicos?.Nombre</td>
                <td>@cita.Pacientes?.Nombre</td>
            </tr>
        }
    </tbody>
</table>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var citaRows = document.querySelectorAll(".cita-row");
        citaRows.forEach(function (citaRow) {
            citaRow.addEventListener("click", function () {
                var idCita = citaRow.getAttribute("data-id-cita");
                window.location.href = "/Medico/DetallesCita?idCita=" + idCita;
            });
        });
    });
</script>




